[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
torchvision = "*"
sacred = "*"
scipy = "*"
sklearn = "*"
pathos = "*"
torchviz = "*"
Pillow = ">=8.1.1"
requests = "*"
urllib3 = ">=1.26.5"
seaborn = "*"
pandas = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.8"
