[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
torchvision = "*"
sacred = "*"
scipy = "*"
sklearn = "*"
pathos = "*"
pre-commit = "*"
torchviz = "*"

[dev-packages]

[requires]
python_version = "3.8"
